{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn lightsIconsOn=lightsIconsOn
  storage=storage toggleDimmer="toggleDimmer" toggleLightsIcons="toggleLightsIcons"}}
{{else}}
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="ready-block">
      <div id="intro-background">
        <div id="intro-wrapper">
          <p id="intro-paragraph">
            Please be aware that this web application is no longer maintained, while we shift focus to our Chrome and mobile apps.
          </p>
        </div>
      </div>

      <div class="relative">
        {{paper-button raised=true primary=true warn=true onClick=(action "isReady") class="go-button center-block" label="START"}}
      </div>
    </div>
  {{/if}}
{{/if}}