{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn storage=storage}}
{{else}}
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="ready-block">
      <div class="title">
        <img src="assets/images/logo.png" alt="Huegasm">
      </div>

      <p id="intro">
        Your lights meet your music.
      </p>
      <p id="intro-paragraph">
        Huegasm is a free web application for managing and synchronizing your <a target="_blank" href="http://www2.meethue.com">Philips Hue lights</a> with the beat of your music.
      </p>

      <div class="embed-container-wrapper">
        <div class="embed-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zi9J6Qg-MPw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      {{paper-button raised=true primary=true onClick=(action "isReady") class="go-button center-block" label="Go!"}}
    </div>
  {{/if}}
{{/if}}

<footer id="footer">
   <div id="dimmer" {{action "toggleDimmer"}} class={{dimmerOnClass}}></div>

  <div id="footer-text">
    © {{year}}

    <a href="http://www.egorphilippov.me" target="_blank" rel="noopener noreferrer">
      Egor Philippov
    </a>
  </div>
</footer>