{{#if ready}}

  {{controls/group-control lightsData=lightsData groupsData=groupsData activeLights=activeLights apiURL=apiURL updateGroupsData=updateGroupsData}}

  <div class="navigation">
    {{#each tabData as |tab|}}
        <span class="navigationItem cursorPointer {{if tab.selected "active" ""}} text-uppercase" {{action "changeTab" tab.name}}>{{tab.name}}</span>
    {{/each}}
  </div>

  {{#if lightsTabSelected class="tabSwitch"}}
    {{controls/light-control apiURL=apiURL lightsData=lightsData activeLights=activeLights trial=trial}}
  {{/if}}

  {{#if musicTabSelected class="tabSwitch"}}
    {{controls/music-control apiURL=apiURL lightsData=lightsData  activeLights=activeLights}}
  {{/if}}
{{/if}}