{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn storage=storage}}
{{else}}
    <!--<a target="_blank" href="https://github.com/hoboman313/huegasm"><img style="position: absolute; top: 0; left: 0; border: 0; width: 30%; max-width: 149px;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>-->
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="readyBlock">
      <div class="title"><img src="assets/images/logo.png" alt="Huegasm"></div>
      <p id="intro">Your lights, meet your music. Huegasm.</p>
      <p id="introParagraph">Huegasm is a free web application for managing and synchronizing your <a target="_blank" href="http://www2.meethue.com">Philips Hue lights</a> with the beat of your music.</p>
      <div class="embedContainerWrapper">
        <div class="embedContainer">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zi9J6Qg-MPw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      {{#paper-button raised=true primary=true action="isReady" class="goButton center-block"}}Go!{{/paper-button}}
    </div>
  {{/if}}
{{/if}}

<footer id="footer">
   <p><span class="relative"><span id="dimmer" {{action "toggleDimmer"}} class={{dimmerOnClass}}>
   </span>© {{year}} <a href="http://egorphilippov.me" target="_blank">Egor Philippov</a></span></p>
</footer>