{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn storage=storage}}
{{else}}
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="readyBlock">
      <div class="title">Huegasm</div>
      <p class="introParagraph">Huegasm is a free web application for controlling your <a href="http://www2.meethue.com/en-ca/">Philips Hue lights</a>...oh and it's kind of awesome at syncing music with your lights.</p>

      <a href="#" {{action "isReady"}}>
          <img src="assets/images/intro.png" id="introPic" />
      </a>

      {{#paper-button raised=true primary=true action="isReady" class="goButton"}}Go!{{/paper-button}}
    </div>
  {{/if}}
{{/if}}

<footer id="footer">
   <p><span class="relative"><span id="dimmerWrapper" {{action "toggleDimmer"}}>
       <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="260.000000pt" height="260.000000pt" viewBox="0 0 260.000000 260.000000" preserveAspectRatio="xMidYMid meet">
       <g transform="translate(0.000000,260.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
           <path class={{dimmerOnClass}} d="M1014 2555 c-171 -51 -297 -125 -414 -244 -140 -143 -195 -272 -195
-456 1 -151 23 -217 137 -398 112 -180 217 -386 256 -502 17 -50 35 -135 42
-190 15 -137 24 -158 82 -209 l50 -44 -21 -21 c-27 -27 -27 -65 -1 -89 l20
-19 -20 -18 c-26 -23 -26 -67 0 -90 l20 -18 -20 -22 c-46 -49 -5 -110 93 -140
23 -7 69 -31 102 -54 40 -28 68 -41 89 -40 31 1 31 1 -6 11 -23 6 -38 16 -38
25 0 11 6 13 23 8 12 -3 56 -9 97 -12 58 -3 88 0 130 15 l55 19 -148 5 c-143
6 -168 10 -153 25 9 10 386 13 386 4 0 -21 -95 -78 -153 -91 -26 -7 -21 -8 29
-9 57 -1 66 2 115 39 29 22 77 47 106 55 53 16 80 43 69 71 -4 11 -11 8 -30
-11 l-25 -25 -251 0 c-216 0 -250 2 -250 15 0 13 33 15 239 15 132 0 246 3
255 6 29 11 18 44 -20 60 -46 19 -45 56 1 64 21 4 31 12 33 27 3 18 -3 24 -30
31 -24 7 -37 5 -49 -4 -19 -17 -429 -21 -429 -4 0 6 -12 10 -27 11 -16 0 -37
4 -48 9 -19 7 -18 9 8 19 38 15 441 15 468 0 18 -9 20 -8 17 13 l-3 23 -202 5
c-111 3 -205 8 -209 13 -18 18 20 22 207 21 194 -1 200 -1 224 -24 21 -20 28
-22 50 -12 14 6 25 18 25 25 0 34 -21 37 -268 37 -190 0 -243 3 -240 13 7 18
473 22 507 4 23 -11 28 -9 72 35 51 51 51 51 84 251 26 165 119 373 275 618
84 131 113 190 135 274 19 74 19 223 1 293 -29 106 -115 262 -116 209 0 -7
-11 2 -23 18 -81 111 -201 208 -334 272 -144 69 -254 92 -478 103 -104 5 -197
9 -205 9 -8 0 -52 -11 -96 -24z m447 -6 c228 -30 434 -130 567 -274 111 -122
136 -196 136 -415 0 -203 -11 -244 -102 -385 -189 -292 -283 -513 -303 -712
-12 -114 -26 -156 -59 -173 -12 -6 -82 -9 -182 -8 l-163 3 -2 115 c-2 63 -7
200 -12 304 -7 124 -7 196 0 208 5 10 45 36 88 58 174 87 350 271 351 366 0
58 -83 102 -168 89 -84 -12 -176 -129 -238 -300 -18 -50 -26 -60 -45 -60 -18
0 -26 9 -37 40 -28 80 -46 121 -74 163 -15 24 -28 49 -28 57 0 26 -68 68 -118
72 -60 6 -107 -24 -140 -87 -66 -127 31 -288 239 -395 94 -48 99 -50 99 -35 0
6 -18 17 -40 26 -22 9 -40 23 -40 31 0 10 6 13 18 8 9 -3 29 -9 44 -12 15 -3
32 -11 38 -18 11 -14 33 -439 28 -555 l-3 -75 -62 -3 c-36 -2 -63 1 -63 7 0 5
-44 13 -99 16 -54 4 -104 10 -110 14 -6 4 -17 56 -25 116 -28 213 -118 421
-325 755 -95 152 -106 187 -106 335 0 99 4 130 23 179 80 215 264 370 537 452
83 26 104 28 270 28 157 1 190 -2 256 -21 113 -33 179 -59 245 -98 43 -26 51
-28 29 -10 -50 41 -175 102 -270 131 -78 23 -113 27 -257 32 -131 3 -168 7
-168 18 0 22 145 29 271 13z m221 -839 c112 -32 83 -136 -82 -294 -127 -120
-230 -168 -230 -107 0 26 49 159 86 235 48 98 117 164 184 175 3 1 22 -4 42
-9z m-526 -156 c22 -17 34 -22 34 -13 0 20 45 -50 59 -91 19 -56 42 -180 36
-190 -13 -22 -95 1 -95 26 0 7 -15 21 -32 33 -18 11 -53 41 -78 66 -42 43 -45
49 -45 99 0 92 52 122 121 70z m994 -22 c0 -9 -30 -67 -66 -127 -176 -294
-252 -490 -269 -687 -7 -84 -27 -124 -78 -162 -27 -20 -40 -21 -284 -21 -187
0 -257 3 -260 12 -3 8 61 12 249 15 222 3 257 5 281 21 38 25 54 63 62 147 16
168 45 259 146 462 65 131 202 357 217 358 1 0 2 -8 2 -18z m-652 -1238 c31
-22 29 -67 -4 -93 -24 -19 -40 -21 -165 -21 -82 0 -139 4 -139 10 0 5 -19 15
-42 22 l-41 12 29 13 c35 15 273 18 322 4 24 -7 32 -6 32 3 0 30 -25 36 -162
36 -116 0 -138 2 -138 15 0 23 276 22 308 -1z"/>
           <path class={{dimmerOnClass}} d="M1811 1630 c-5 -106 -187 -298 -368 -388 -39 -20 -74 -43 -76 -52 -2
-9 0 -61 4 -115 4 -55 8 -182 9 -282 0 -153 2 -183 14 -183 12 0 14 13 11 68
-3 37 -7 155 -9 263 -4 157 -3 199 9 216 7 11 50 41 94 66 151 88 294 234 322
328 9 28 9 48 2 71 -10 30 -11 31 -12 8z"/>
           <path class={{dimmerOnClass}} d="M1602 1674 c-40 -20 -80 -70 -119 -149 -35 -68 -86 -206 -79 -212 11
-11 46 24 52 52 10 49 81 188 114 223 41 42 86 65 116 58 26 -7 32 5 11 22
-24 20 -62 22 -95 6z"/>
       </g>
   </svg></span>Made by <a href="//egorphilippov.me">egorphilippov.me</a> © 2015 Huegasm</span></p>
</footer>