{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn storage=storage}}
{{else}}
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="readyBlock">
      <div class="title"><img src="assets/images/logo.png" alt="Huegasm"></div>
      <p class="introParagraph">Huegasm is a free web application for controlling your <a href="http://www2.meethue.com/en-ca/">Philips Hue lights</a>...oh and it's pretty awesome at synchronizing your music with your lights.</p>

      {{#paper-button raised=true primary=true action="isReady" class="goButton"}}Go!{{/paper-button}}
    </div>
  {{/if}}
{{/if}}

<footer id="footer">
   <p><span class="relative"><span id="dimmer" {{action "toggleDimmer"}} class={{dimmerOnClass}}>
   </span>© {{year}} <a href="http://egorphilippov.me" target="_blank">Egor Philippov</a></span></p>
</footer>