{{#if bridgeUsername}}
  {{hue-controls bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial dimmerOn=dimmerOn storage=storage}}
{{else}}
  {{#if ready}}
    {{bridge-finder bridgeIp=bridgeIp bridgeUsername=bridgeUsername trial=trial storage=storage}}
  {{else}}
    <div class="readyBlock">
      <div class="title"><img src="assets/images/logo.png" alt="Huegasm"></div>
      <p class="introParagraph">Huegasm is a free web application for controlling your <a href="http://www2.meethue.com/en-ca/">Philips Hue lights</a>...oh and it's kind of awesome at syncing music with your lights.</p>

      <a href="#" {{action "isReady"}}>
          <img src="assets/images/intro.png" id="introPic" />
      </a>

      {{#paper-button raised=true primary=true action="isReady" class="goButton"}}Go!{{/paper-button}}
    </div>
  {{/if}}
{{/if}}

<footer id="footer">
   <p><span class="relative"><span id="dimmerWrapper" {{action "toggleDimmer"}}>
   </span>Made by <a href="//egorphilippov.me">egorphilippov.me</a> © 2015 Huegasm</span></p>
</footer>