<div id="fancy-button-wrapper">
  <div id="start-listening" data-toggle="tooltip" data-placement="top" data-title="Toggle to have Huegasm start/stop listening on your active Chrome tab" class="bootstrap-tooltip">
    {{if isListenining "Stop" "Start"}} Listening
  </div>

  <a href="#" data-content="Click here for Huegasm to start listening to your current tab" class="fancy-button note {{if isListenining "active"}}"
    {{action "toggleListening"}}>
  </a>
</div>

<div class="row {{if dimmerOn "dimmerOn"}}">
  <div id="beat-area" class="col-sm-7 col-xs-12">
    <div class="row" id="beat-option-row">
      <div class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The range of hues (colors) that the lights may change to on beat."
          class="option-description bootstrap-tooltip">
          Hue Range
          </span>

          {{range-slider start=hueRange orientation="vertical" step=beatOptions.hueRange.step range=beatOptions.hueRange.range connect=hueRangeConnect
          on-change=(action (mut hueRange)) pips=beatOptions.hueRange.pips}}
      </div>

      <div class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The minimum (off-beat) and maximum (on-beat) brightness of the lights"
          class="option-description bootstrap-tooltip">
          Brightness Range
          </span>

          {{range-slider start=brightnessRange orientation="vertical" step=beatOptions.brightnessRange.step range=beatOptions.brightnessRange.range
          on-change=(action (mut brightnessRange)) pips=beatOptions.brightnessRange.pips}}
      </div>

      <div id="sensitivity-settings" class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The sensitivity of the beat detector (more sensitivity results in more registered beats)"
          class="option-description bootstrap-tooltip">
          Sensitivity
          </span>

          {{range-slider start=threshold orientation="vertical" step=beatOptions.threshold.step range=beatOptions.threshold.range on-change=(action
          (mut threshold)) pips=beatOptions.threshold.pips}}
      </div>
    </div>
  </div>
</div>