<div id="slide-toggle" class="text-center pointer row" {{action "slideTogglePlayerBottom"}}>
  <div class="col-xs-offset-5 col-xs-2">
    {{paper-icon beatDetectionAreaArrowIcon id="beat-detection-area-arrow-icon"}}
  </div>
</div>

<div id="player-bottom" class="row {{if dimmerOn "dimmerOn"}} {{if playerBottomDisplayed "display-flex"}}">
  <div id="beat-area" class="col-sm-7 col-xs-12">
    <div class="row" id="beat-option-row">
      <div class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The range of hues ( colors ) that the lights may change to on beat."
          class="option-description bootstrap-tooltip">
          Hue Range
          </span>

          {{range-slider start=hueRange orientation="vertical" step=beatOptions.hueRange.step range=beatOptions.hueRange.range connect=hueRangeConnect
          on-change="hueRangeChanged" pips=beatOptions.hueRange.pips}}
      </div>

      <div class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The minimum ( off-beat ) and maximum ( on-beat ) brightness of the lights"
          class="option-description bootstrap-tooltip">
          Brightness Range
          </span>

          {{range-slider start=brightnessRange orientation="vertical" step=beatOptions.brightnessRange.step range=beatOptions.brightnessRange.range
          on-change="brightnessRangeChanged" pips=beatOptions.brightnessRange.pips}}
      </div>

      <div id="sensitivity-settings" class="beat-option col-xs-4">
        <span data-toggle="tooltip" data-placement="top" data-title="The sensitivity of the beat detector ( more sensitivity results in more registered beats )"
          class="option-description bootstrap-tooltip">
          Sensitivity
          </span>

          {{range-slider start=threshold orientation="vertical" step=beatOptions.threshold.step range=beatOptions.threshold.range on-change="thresholdChanged"
          pips=beatOptions.threshold.pips}}
      </div>

      <div id="light-option" class="col-xs-12">
        <span data-toggle="tooltip" data-placement="top auto" data-title="Quickly flash the lights on beat" class="bootstrap-tooltip"
          {{action "hideTooltip" on="mouseLeave"}}>
          {{paper-checkbox value=flashingTransitions onChange=(action (mut flashingTransitions)) label="Flashing Transitions"}}
          </span>

          <span data-toggle="tooltip" data-placement="top auto" data-title="Slowly cycle the lights through all the colors" class="bootstrap-tooltip"
            {{action "hideTooltip" on="mouseLeave"}}>
            {{paper-checkbox value=colorloopMode onChange=(action (mut colorloopMode)) label="Colorloop"}}
            </span>
      </div>
    </div>
  </div>

  <div id="beat-container" class="col-sm-5 col-xs-12">
    <div class="bezel">
      <div class="rivet1"></div>
      <div class="rivet2"></div>
      <div class="rivet3"></div>
      <div class="rivet4"></div>
      <div class="rivet5"></div>
      <div class="rivet6"></div>
      <div class="rivet7"></div>
      <div class="rivet8"></div>

      <div id="beat-speaker-center-outer">
        <div id="beat-speaker-center-inner" class="pointer" {{action "clickSpeaker"}}></div>
      </div>
    </div>
  </div>
</div>