{{#each lightsList as |light|}}
  {{#if lightsIconsOn}}
    <div class="{{light.activeClass}} bootstrap-tooltip toggleable-light" data-toggle="tooltip" data-placement="top auto" data-title={{light.name}} {{action "clickLight" light.id}} {{action "lightStartHover" light.id on="mouseEnter"}} {{action "lightStopHover" light.id on="mouseLeave"}}>
      <img class="hueLight" width="40" src="assets/images/lights/{{light.type}}.svg">
    </div>
  {{else}}
    <div class="{{light.activeClass}} light-text toggleable-light" {{action "clickLight" light.id}} {{action "lightStartHover" light.id on="mouseEnter"}} {{action "lightStopHover" light.id on="mouseLeave"}}>
      <div class="light-text-content">{{light.name}}</div>
    </div>
  {{/if}}
{{/each}}