{{#paper-list}}
  {{#paper-item}}
    {{paper-icon "power-settings-new" class=dimmerOnClass}}
    <p data-toggle="tooltip" data-placement="top auto" class="bootstrap-tooltip lights-control-tooltip" data-title="Turn the selected lights on/off">Power</p>
    {{paper-switch value=lightsOn onChange=(action (mut lightsOn)) disabled=trial skipProxy=trial label=lightsOnTxt}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "brightness-4" class=dimmerOnClass}}
    <p data-toggle="tooltip" data-placement="top auto" class="bootstrap-tooltip lights-control-tooltip" data-title="The brightness level of the selected lights">Brightness</p>
    {{paper-slider flex=true min=1 max=254 value=lightsBrightness disabled=brightnessControlDisabled}}
  {{/paper-item}}

  {{#paper-item elementId="color-row"}}
    {{paper-icon "color-lens" class=dimmerOnClass}}
    <p data-toggle="tooltip" data-placement="top auto" class="bootstrap-tooltip lights-control-tooltip" data-title="The color of the selected lights">Color</p>

    {{#paper-menu offset="0 -50" as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=false}}
          {{paper-button raised=true class="color" disabled=trial}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content class="color-content" width=0 as |content|}}
        {{#content.menu-item}}
          {{lights-tab/color-picker lightsData=lightsData activeLights=activeLights rgb=rgb}}
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "flare" class=dimmerOnClass}}
    <p data-toggle="tooltip" data-placement="top auto" class="bootstrap-tooltip lights-control-tooltip" data-title="Selected lights will flash in sequential order">Strobe</p>
    {{paper-switch value=strobeOn onChange=(action (mut strobeOn)) disabled=trial skipProxy=trial label=strobeOnTxt}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "color-lens" class=dimmerOnClass}} {{paper-icon "loop" id="loop-addition" class=dimmerOnClass}}
    <p data-toggle="tooltip" data-placement="top auto" class="bootstrap-tooltip lights-control-tooltip" data-title="Selected lights will slowly cycle through all the colors">Colorloop</p>
    {{paper-switch value=colorLoopOn onChange=(action (mut colorLoopOn)) disabled=trial skipProxy=trial label=colorloopOnTxt}}
  {{/paper-item}}
{{/paper-list}}

{{huegasm-footer toggleDimmer="toggleDimmer"}}