{{#paper-list}}
  {{#paper-item}}
    {{paper-icon "power-settings-new" class=dimmerOnClass}}
    <p>Power</p>
    {{paper-switch value=lightsOn onChange=(action (mut lightsOn)) disabled=(or trial playing) skipProxy=trial label=lightsOnTxt}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "brightness-4" class=dimmerOnClass}}
    <p class="layout flex-60">Brightness</p>
    {{paper-slider class="flex" step="10" min="1" max="254" value=lightsBrightness disabled=brightnessControlDisabled}}
  {{/paper-item}}

  {{#paper-item class="color-row" }}
    {{paper-icon "color-lens" class=dimmerOnClass}}
    <p>Color</p>
    {{#paper-menu offset="0 -100" as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=false}}
          {{paper-button raised=true class="color" disabled=(or trial playing)}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content class="color-content" width=8 as |content|}}
        {{#content.menu-item}}
          {{lights-tab/color-picker lightsData=lightsData activeLights=activeLights rgb=rgb}}
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "flare" class=dimmerOnClass}}
    <p>Strobe</p>
    {{paper-switch value=strobeOn onChange=(action (mut strobeOn)) disabled=(or trial playing) skipProxy=trial label=strobeOnTxt}}
  {{/paper-item}}

  {{#paper-item}}
    {{paper-icon "color-lens" class=dimmerOnClass}} {{paper-icon "loop" id="loop-addition" class=dimmerOnClass}}
    <p>Colorloop</p>
    {{paper-switch value=colorLoopOn onChange=(action (mut colorLoopOn)) disabled=(or trial playing) skipProxy=trial label=colorloopOnTxt}}
  {{/paper-item}}
{{/paper-list}}