{{#each lightsList as |light|}}
  <div class="{{light.activeClass}} bootstrap-tooltip light{{light.id}}" data-toggle="tooltip" data-placement="top auto" data-title={{light.name}} {{action "clickLight" light.id}} {{action "lightStartHover" light.id on="mouseEnter"}} {{action "lightStopHover" light.id on="mouseLeave"}}>
    <img class="hueLight" width="40" src="assets/images/lights/{{light.type}}.svg">
  </div>
{{/each}}