{{#each lightsList as |light|}}
  {{#if lightsIconsOn}}
    <div class="{{light.activeClass}} bootstrap-tooltip toggleable-light" data-toggle="tooltip" data-placement="top auto" data-title={{light.name}} {{action "clickLight" light.id}}>
      {{inline-svg light.src class="hue-light"}}
    </div>
  {{else}}
    <div class="{{light.activeClass}} light-text toggleable-light" {{action "clickLight" light.id}}>
      <div class="light-text-content">{{light.name}}</div>
    </div>
  {{/if}}
{{/each}}