<div class="row">
    <div id="playerArea" class="col-xs-8">

        <div id="playerControls">
          {{range-slider start=0 min=0 max=100 id="seekSlider" slide="seekChanged" }}

          {{#if nextPrevEnabled}}
              <span data-toggle="tooltip" data-placement="top" title="Previous"
                    id="prevTooltip" {{action "previous"}}>{{paper-icon icon="skip-previous" class="playerControllIcon"}} </span>{{/if}}<!--
                    --><span data-toggle="tooltip" data-placement="top"
                             title={{playingTooltipTxt}} id="playingTooltip" {{action "play"}}>{{paper-icon icon=playingIcon class="playerControllIcon"}}</span><!--
                  -->{{#if nextPrevEnabled}}
            <span data-toggle="tooltip" data-placement="top"
                  title="Next song"  {{action "next"}}>{{paper-icon icon="skip-next" action="" class="playerControllIcon"}}</span>
        {{/if}}<!--
          --><span data-toggle="tooltip" data-placement="top"
                   title={{volumeMutedTooltipTxt}} id="volumeMutedTooltip" {{action "volumeMutedChanged"}}>{{paper-icon icon=volumeClass  class="playerControllIcon volumeButton"}}</span><!--
                  -->{{range-slider start=volume min=0 max=100 slide="volumeChanged" id="volumeBar"}}

            <span id="playerTimeControls">{{timeElapsedTxt}} / {{timeTotalTxt}}</span>

          <span class="pull-right">
            <span data-toggle="tooltip" data-placement="top"
                  title="Full screen" {{action "fullscreen"}}>{{paper-icon icon="fullscreen"  class="playerControllIcon"}}
            </span>
          </span>
        </div>
    </div>

    <div id="playlist" class="col-xs-4">
        <input id="fileInput" type="file" accept="audio/*" multiple="true"/>

        <div id="playListControls">
            <span data-toggle="tooltip" data-placement="bottom auto"
                  title={{shuffleTooltipTxt}} id="shuffleTooltip" {{action "shuffleChanged"}}>{{paper-icon icon="shuffle" class=shuffleClass}}</span>

            <span data-toggle="tooltip" data-placement="bottom auto"
                  title={{repeatTooltipTxt}} id="repeatTooltip" {{action "repeatChanged"}}>{{paper-icon icon=repeatIcon class=repeatClass}}</span>

            <span data-toggle="tooltip" data-placement="bottom" title="Add new music"
                  class="pull-right" {{action "addAudio"}}>{{paper-icon icon="add" class="playerControllIcon" }}</span>
        </div>

        <div id="playListArea">
          {{#each playQueue as |item|}}
              <div class="playlistItem">
                {{#if item.title}}
                  {{item.artist}} - {{item.title}}
                {{else}}
                  {{item.filename}}
                {{/if}}</div>
          {{/each}}
        </div>
    </div>
</div>


<div id="playerBottom" class="row">
  <span id="beatArea" class="col-xs-7">
      <div id="vertDivider"></div>
        {{light-group lightsData=lightsData activeLights=activeLights action='clickLight' apiURL=apiURL noHover=true}}

        <span class="beatOption">
          {{range-slider start=threshold orientation="vertical" range=beatOptions.threshold.range slide="thresholdChanged" pips=beatOptions.threshold.pips}}
            Beat Threshold
        </span>

        <span class="beatOption">
          {{range-slider start=decay orientation="vertical" step=beatOptions.decay.step range=beatOptions.decay.range slide="decayChanged" pips=beatOptions.decay.pips}}
            Beat Decay
        </span>

        <span class="beatOption">

          {{range-slider start=frequency orientation="vertical" step=beatOptions.frequency.step range=beatOptions.frequency.range connect=true slide="frequencyChanged" pips=beatOptions.frequency.pips}}
            Beat Frequency Range
        </span>

      <div id="playerButtonGroup">
        {{#paper-button raised=true warn=true action="defaultControls"}}Default{{/paper-button}}
      </div>
    </span>

    <span id="beatSpeakerContainer" class="col-xs-5">
        <div id="beatSpeaker">
                    <span id="beatSpeakerCenter"
                          class="beatSpeakerCenter cursorPointer" {{action "clickSpeaker"}}></span>
        </div>
    </span>
</div>